* {
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border: gainsboro solid 5px;

  box-shadow: 5px 10px 20px lightblue;
  border-radius: 20px;
  margin: 10px 100px;
}
body {
  background-color: aliceblue;
  /* border: red solid 5px; */
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* border: red solid 5px; */
}
.app_header_title {
  color: red;
}

.app_left {
  flex: 0.9;
  margin-bottom: 50px;
}
.app_stats {
  display: flex;
  justify-content: space-between;
  /* border: red solid 5px; */
  padding: 0px 80px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
